.appContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 60px;
    /* Offset for the fixed Sidebar */
}

.workspace {
    display: flex;
    flex: 1;
    overflow: hidden;
}